@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap&subset=latin-ext");

/* for the whole thing*/
body{
    text-align: center;
    color: #dee4e8;
    font-family: "Montserrat";

    font-size: 40px;
    font-weight: 700;

    background-image: url(knucklebonesMedia/background.png);
    image-rendering: pixelated;
    background-size: cover;

    padding: 0;
    margin: 0;

    user-select: none;
    overflow: hidden;
}

/* the title card*/
#title{
    background-image: url(knucklebonesMedia/title_card_with_indent.png);
    background-size: cover;

    width: 880px;
    height: 190px;

    font-size: 89px;
    font-weight: 628;

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* the whole board */
#board{
    background-image: url(knucklebonesMedia/board.png);
    background-size: cover;

    width: 1880px;
    height: 610px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(4,auto);
}

/* the fields */
.field{
    width: 600px;
    height: 590px;
    max-width: 600px;
    max-height: 590px;
    
    margin-top: 20px;

    display:inline-block;
    position: relative;

}
#fieldR{
    direction: rtl;
}

/* the rows */
.rowL{
    width: 440px;
    height: 160px;

    display:inline-block;
    position: relative;

    margin-top: -2px;
    margin-left: -2px;

    padding:0;
}
.rowR{
    width: 440px;
    height: 160px;

    display:inline-block;
    position: relative;

    margin-top: -2px;
    margin-right: -2px;

    padding:0;
}

/* for the dice and scores*/
.dice{
    width: 100px;
    height: 100px;

    padding: 0;
    margin: 30px 10px 0px 30px;

    float: left;
}
.score{
    width: 130px;
    height: 50px;

    display:inline-block;
    position: relative;

    margin-top: -2px;
    padding:0;
    
}

/* the player profiles */
.profile{
    width: 340px;
    height: 610px;
}
#avatarP1{
    float:left;
    width: 280px;
    height: 250px;

    margin-top: 10px;
    margin-bottom: 10px;
}
#avatarP2{
    float:right;
    width: 280px;
    height: 250px;

    margin-top: 10px;
}
#nameBoxP1{
    float: left;

    width: 280px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#nameBoxP2{
    float: right;

    width: 280px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#nameP1{
    float: right;

    width: 220px;

    display: flex;
    justify-content: center;
}
#nameP2{
    float: left;

    width: 220px;

    display: flex;
    justify-content: center;
}
#winsP1{
    float: left;

    width: 30px;

    display: flex;
    justify-content: center;
}
#winsP2{
    float: right;

    width: 30px;

    display: flex;
    justify-content: center;
}
#rollAreaP1{
    float: left;

    width: 100px;
    height: 100px;

    margin-left: 90px;
    margin-top: 80px;
}
#rollAreaP2{
    float: right;

    width: 100px;
    height: 100px;

    margin-right: 90px;
    margin-top: 10px;
}

/* information row on the left */
#infoRowL{
    width: 570px;
    height: 110px;

    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-items: end;

    margin-left: -2px;
    margin-top: -2px;
}
#playSong{
    background-image: url(knucklebonesMedia/button_music.png);
    background-size: cover;

    width: 420px;
    height: 80px;

    margin-left: -18px;
    margin-top: 29px;

    padding: 0;
    border: none;
}
#playSong:active{
    transform: translateY(5px);
    transition-duration: 0.2s;
}
#totalScoreP1{
    float: right;

    width: 130px;
    height: 60px;

    margin-top: 40px;    
}
/* information row on the right */
#infoRowR{
    width: 570px;
    height: 110px;

    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-items: end;

    margin-right: -2px;
    margin-top: -2px;
}
#totalScoreP2{
    float:left;
    
    width: 130px;
    height: 60px;

    margin-top: 40px;  
}
#creditsBtn{
    background-image: url(knucklebonesMedia/button_credits.png);
    background-size: cover;

    width: 420px;
    height: 80px;

    margin-right: -18px;
    margin-top: 29px;

    padding: 0;
    border: none;
}
#creditsBtn:active{
    transform: translateY(5px);
    transition-duration: 0.2s;
}

/* extra screens */
/* the resultScreen */
#resultScreenContainer{
    display: flex;
    justify-content: center;
}
#resultScreen{
    background-image: url(knucklebonesMedia/win_screen.png);
    background-size: cover;

    width: 1280px;
    height: 0px;
    position: fixed;
    z-index: 1;

    overflow-y: hidden;
    
    transition: 0.5s 0.05s;
}
#restartBtn{
    background-image: url(knucklebonesMedia/button_new_game.png);
    background-size: cover;

    width: 440px;
    height: 80px;

    margin-top: 390px;

    padding: 0;
    border: none;
}
#restartBtn:active{
    transform: translateY(5px);
    transition-duration: 0.2s;
}

/* the creditsScreen */
#creditsScreenContainer{
    display: flex;
    justify-content: center;
}
#creditsScreen{
    background-image: url(knucklebonesMedia/credits_screen_hanging.png);
    background-size: cover;

    width: 860px;
    height: 0px;
    position: fixed;
    z-index: 2;

    margin-top: -40px;

    overflow-y: hidden;
    
    transition: 0.24s 0.05s;
}
#creditsTextContainer{
    margin: auto;

    margin-top: 220px;
    width: 700px;
}
.creditsText{
    text-align: center;
    width: 700px;

    font-size: 30px;
    font-weight: 700;
}

/* the selectScreen */
#selectScreenContainer{
    display: flex;
    justify-content: center;
}
#selectScreen{
    background-image: url(knucklebonesMedia/select_screen.png);
    background-size: cover;

    width: 1280px;
    height: 0px;
    position: fixed;
    z-index: 1;

    overflow-y: hidden;
    
    transition: 0.5s 0.3s;
}
#textContainer{
    width: 1180px;
    height: 200px;

    margin: auto;
    margin-top: 70px;

    display: grid;
    grid-template-columns: repeat(2,auto);
}
.textTest{
    width: 590px;

    margin: 0;

    font-size: 30px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
}

#inputTextContainer{
    height: 80px;
}
#inputText{
    text-align: center;
    color: #dee4e8;
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 700;

    width: 292px;
    height: 34px;

    margin-top: 50px;

    background: none;
}
#selectBtn{
    background-image: url(knucklebonesMedia/button_confirm.png);
    background-size: cover;

    width: 440px;
    height: 80px;

    margin-top: 40px;

    padding: 0;
    border: none;

    text-align: center;
    color: #dee4e8;
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 700;
}
#selectBtn:active{
    transform: translateY(5px);
    transition-duration: 0.2s;
}


/* all the rows that need to have values changed during the game*/
#row11{
    background-image: url(knucklebonesMedia/selection_none.png);
    background-size: cover;
}
#row12{
    background-image: url(knucklebonesMedia/selection_none.png);
    background-size: cover;
}
#row13{
    background-image: url(knucklebonesMedia/selection_none.png);
    background-size: cover;
}
#row21{
    background-image: url(knucklebonesMedia/selection_none.png);
    background-size: cover;
}
#row22{
    background-image: url(knucklebonesMedia/selection_none.png);
    background-size: cover;
}
#row23{
    background-image: url(knucklebonesMedia/selection_none.png);
    background-size: cover;
}

/*
background color test stuff
take a look how everything is built up! (epilepsy warning)
*/
/*
body{
    opacity: 0.7;
}
#board{
    background-color: #669986;
}
#fieldL{
    background-color: #c8c457;
    opacity: 0.7;
}
#fieldR{
    background-color: #484cb9;
    opacity: 0.7;
}
.rowL{
    background-color: #484cb9;
}
.rowR{
    background-color: #c8c457;
}
.score{
    background-color: #2bd460;
}
#infoRowL{
    background-color: #649b6d;
}
#totalScoreP1{
    background-color: #dd2268;
}
#infoRowR{
    background-color: #649b6d;
}
#totalScoreP2{
    background-color: #dd2268;
}
.profile{
    background-color: #ff44ff;
    opacity: 0.7;
}
#avatarP1{
    background-color: #479bb8;
}
#avatarP2{
    background-color: #479bb8;
}
#nameBoxP1{
    background-color: #ff002a;
}
#nameBoxP2{
    background-color: #ff002a;
}
#winsP1{
    background-color: #6F2CD3;
}
#winsP2{
    background-color: #6F2CD3;
}
#nameP1{
    background-color: #90d32c;
}
#nameP2{
    background-color: #90d32c;
} 
#creditsBtnContainer{
    background-color: #7e46b9;
}
#textContainer{
    background-color: #1d854f;
}
#selectBtn{
    background-color: #9e3b3b;
}
*/